<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="The Music & Art of Wayne Cater">
    <meta name="author" content="Wayne Cater">
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW"> 
    <!-- <link rel="icon" href="favicon.ico"> -->
    <title>WayneCater.com</title>
    <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
<div id="top" class="container">
    <div class="header">
        <h3 class="site-title">Wayne Cater</h3>
    </div>
    <ul>
        <li><a href="index.html#News">News</a></li>
        <li><a href="index.html#Music">Music</a></li>
        <li><a href="index.html#About">About</a></li>
        <li><a href="index.html#Social">Social</a></li>
        <li><a href="index.html#Contact">Contact</a></li>
        <li><a href="reflections.html">Reflections</a></li>
    </ul>

    <div class="reflections">
        <div class="reflections-content">
            <section class="reflection-post">
            
                <div v-if="selectedRecord.show != false && (selectedRecord.showOnDate == null || isTimeToShowIt(selectedRecord.showOnDate))">
               
                <h2 class="reflection-title">{{ selectedRecord.title }}</h2>
                <p class="reflection-date">
                    <span class="reflection-keys">Written: </span> 
                    <span> {{ selectedRecord.writtenDate }}</span>
                </p>
                    <p class="reflection-tags">
                        <span class="reflection-keys">Tags: </span>
                        <span v-for="tag in selectedRecord.tags">
                            {{ tag }} &nbsp;
                        </span>
                    </p>
                    
                    <div v-for="content in selectedRecord.content">
                        <p class="reflection-entries" v-html="content">
                            {{ content }}
                        </p>
                    </div>
                </div>
            </section>

                <div class="paging-buttons">
                    <button title="first" type="button" class="btn btn.previous" @click="openReflection(1)" v-if="reflectionId > 0"> << </button>
                    <button title="previous" type="button" class="btn" @click="getPrevious()" v-if="reflectionId >= 1"> < </button>
                    <button title="next" type="button" class="btn" @click="getNext()" v-if="(reflectionId + 1) <= totalReflections"> ></button>
                    <button title="last" type="button" class="btn" @click="openLastPage()" v-if="(reflectionId + 1) <= totalReflections && reflectionId != totalReflections"> >></button>
                
                </div>
    </div>
    
    <div class="footer">
        <div class="copyright">
            &copy;Wayne Cater 2020 - 2021; All Rights Reserved;
        </div>
        <div class="back-to-top">
            <a href="#top">^Back to top</a>
        </div>
    </div>
</div>
<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue-axios@2.1.4/dist/vue-axios.min.js"></script>
<script src="scripts/vue/reflection.js"></script>
</body>
</html>